// VARIABLES ///////////////

@lightest-blue: #e7f5f7;
@lighter-blue: #b0e0e6;
@blue: #198c8c;
@darker-blue: #003366;
@darkest-blue: #0b1a4d;

@header-height: 50px;


/// LAYOUT /////////////////////////

body,
body button {
	font-family: 'Alegreya Sans', sans-serif;
}

.twittler__body {
	display: flex; // Add vprefixes?
	background-color: @lightest-blue;
	margin-top: @header-height;
}

.twittler__sidebar {
	flex: 1 1 20%;
	background-color: #fff;
	padding: 30px 20px 0;
}

.twittler__main {
	display: flex;
	flex-direction: column;
	flex: 1 1 80%;
	height: ~"calc(100vh - @{header-height})";
	overflow: auto;
}

/// SIDEBAR /////////////////////////

.twittler__userimg {
	float: left;
	background: url("../images/indiana-jones.jpg") no-repeat center;
	background-size: cover;
	height: 80px;
	width: 80px;
	margin: 0 12px 6px 0;
	border-radius: 100%;
}

.twittler__sidebar-username {
	margin-bottom: 4px;
}

.twittler__sidebar-handle {
	margin: 0;
	font-weight: normal;
}

.twittler__sidebar-headline {
	margin-top: 20px;
	font-weight: normal;
}

/// HEADER /////////////////////////

.twittler__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: @header-height;
	background-color: @darkest-blue;
}

.twittler__logo {
	float: left;
	line-height: @header-height;
	border: 0;
	padding: 0 0 0 20px;
	font-family: 'Berkshire Swash', cursive;
	font-size: 2rem;
	background-color: transparent;
	color: #fff;
	text-decoration: none;

	&:hover {
		color: @lightest-blue;
	}
}

.twittler__home {
	float: right;
	line-height: @header-height;
	border: 0;
	padding: 0 20px 0 0;
	background-color: transparent;
	color: #fff;
	text-decoration: none;

	&:hover {
		color: @lightest-blue;
	}
}

/// TWEET INPUT //////////////////

.twittler__tweet-input {
	flex: 0 0 55px;
	margin: 10px 20px 30px 20px;
	padding: 10px;
	color: @darkest-blue;
	box-shadow: 0px 5px 25px 5px @lighter-blue;
	opacity: 0;
	transition: opacity 600ms;

	&.is-faded-in {
		opacity: 1;
	}
}

.twittler__twittle-btn {
	display: block;
	flex: 0 0 40px;
	margin: -30px 20px 30px;
	line-height: 40px;
	color: #fff;
	background-color: @blue;
	border: 1px solid @blue;
	border-radius: 3px;
	transition: background-color 400ms;
	cursor: pointer;

	&:hover {
		background-color: @darker-blue;
		border-color: @darker-blue;
	}
}

.twittler__success-msg {
	flex: 0 0 50px;
	background-color: @blue;
	color: #fff;
	padding: 20px;
	line-height: 50px;
	text-align: center;
	opacity: 0;
	transition: opacity 600ms;

	&.is-faded-in {
		opacity: 1;
	}
}

/// FEED /////////////////////////

.twittler__feed {
	padding: 10px 20px;
}

.twittler__tweet {
	min-height: 30px;
	padding: 8px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid @lighter-blue;
	border-bottom: 2px solid @blue;
	color: @darkest-blue;
}

.twittler__tweet-userimg {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 14px;
	border-radius: 100%;
}

.twittler__tweet-user {
	font-weight: 600;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.twittler__tweet-msg {
	display: block;
	margin: 5px 0;
}

.twittler__load-more-btn {
	display: block;
	height: 40px;
	width: 100%;
	line-height: 40px;
	margin-bottom: 20px;
	color: @darker-blue;
	background-color: #fff;
	border: 1px solid @blue;
	border-radius: 3px;
	transition: background-color 400ms;
	cursor: pointer;

	&:hover {
		background-color: @blue;
		border-color: @darker-blue;
		color: #fff;
	}
}

/// USER HEADER /////////////////////////

.twittler__user-tweets-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 160px;
	background-color: @blue;
	color: #fff;
}

.twittler__user-img-header {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	margin: 12px;
}

.twittler__user-name-header {
	margin: 0;
}